body {
    background-image: url("../FINAL_LOGO_4_7_16.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0px auto;
}

.blankrect { 
    width: 100%;
    height: 900px;
    color: rgba(204,204,204,0.0);
}

.odd{
    background-color: #971418;
}

.even { 
    background-color: #bfbfbf;   
}

.navbar{ 
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    background-color: black;
    color: white;
    list-style: none;
    font-weight: bold;
    padding-top: .0625em;
    padding-bottom: .0625em;
    padding-left: 50%;
 }
 
.fixed { 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 7;
  }

.rowone {
  width: 50%;
  font-size: 21px;
}

.rowtwo { 
  margin-left: 33.33333333%;
  width: 66.66666666666%;
  font-size: 14px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

ul.faq { 
    list-style: none;
    padding: 0em;
}
.question {
    font-weight: bold;
    color: black;
    font-size: 2em;
    line-height: 1.4em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0em;
}

.beerq{
        border-top:20px solid #971418;
}
.beer { 
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../FINAL_LOGO_4_7_16.jpg");
    background-position: center;
}
.answer {
    font-weight: bold;
    color: #333;
    font-size: 1.5em;
    line-height: 1.4em;
}

.blurb { 
    margin-left: -35%;
    width: 70%;   
    padding: 3em;
    left: 50%;
    position: relative;
    padding-left: 0;
    z-index: 1;
}

a {
    text-decoration: none;
    color: #999;
}
h2 {
    font-size: 6em;
    color: #999;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #999;
    text-align:justify;
}
