body {
    background-image: url("../FINAL_LOGO_4_7_16.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    margin:0px auto;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

form { 
    text-align: center;
}

input { 
    width: 70%;   
    border: 2px;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
}

.slider {
    width: 50px;
    position: absolute;
    top: 50px;
}

.page { 
    min-height: 700px;   
}
.blankrect { 
    height: 900px;
    color: rgba(204,204,204,0.0);
}

.odd{
    background-color: #971418;
}

.even { 
    background-color: #bfbfbf;   
}

.navbar{ 
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    background-color: black;
    color: white;
    list-style: none;
    font-weight: bold;
    padding-top: .0625em;
    padding-bottom: .0625em;
    position: absolute;
    width: 100%;
 }
 
 nav div{
    width: 70%;
    margin: auto;
    max-width:970px;
 }
 
.fixed { 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 7;
  }

.rowone {
  width: 50%;
  font-size: 21px;
  font-weight: 200;
  line-height: 1.4;
}

.rowtwo { 
  margin-left: 33.33333333%;
  width: 66.66666666666%;
  font-size: 14px;
}

nav ul {
    float: right !important;
    position: relative;
    margin: 0px
    background: rgb(0,0,0);
    padding-top: 15px
    padding-bottom: 15px;
}

nav ul li {
    display: inline;
    float:left;
    position:relative;
    padding-left: 15px;
    padding-right: 15px;
}

ul.faq { 
    list-style: none;
    padding: 0em;
    margin-left: -50%;
    width: 100%;   
    left: 50%;
    position: relative;
    z-index: 1;
    text-align: center;
}
.question {
    font-weight: bold;
    color: black;
    font-size: 2em;
    line-height: 1.4em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0em;
}

.beerq{
        border-top:20px solid #971418;
}
.beer { 
    background-attachment: fixed;
    background-size: contain;
    background-image: url("../FINAL_LOGO_4_7_16.jpg");
    background-position: center;
    background-repeat: no-repeat
}
.answer {
    font-weight: bold;
    color: #333;
    font-size: 1.5em;
    line-height: 1.4em;
}

.blurb { 
    padding: 15px;
    z-index: 1;
    max-width: 970px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #999;
}
h2 {
    font-size: 100px;
    color: #999;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    color: #999;
    text-align:justify;
}

.contact{
    color:rgb(0,0,0);
}
}
