body {
    margin: 60px auto;
    width: 70%;
}

.navbar{ 
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
    padding-left: 50%;
 }
 
 .fixed { 
  position: fixed;
  left: 50%;
  padding-left:0;
  top: 0em;
  }

nav ul li {
    display: inline;
    margin-right: 20px;
}
ul.faq { 
    list-style: none;
}
.question {
    font-weight: bold;
    color: black;
    font-size: 1.5em;
    line-height: 1.4em;
}

.answer {
    font-weight: bold;
    color: #333;
     font-size: 1.5em;
    line-height: 1.4em;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
