---
layout: default
---
<div class="classes">
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-description">
      <p>{{ page.description }}</p>
<div class="grid">
{% assign syllabus = site.teaching | where: "title", page.title | where: "category", "syllabus" | first%}
{% assign schedule = site.teaching | where: "title", page.title | where: "category", "schedule" | first%}

<div class="grid-item">
  <a href="{{ syllabus.url | relative_url }}">
    <div class="card hoverable">
      <div class="card-body">
        <h2 class="card-title">Syllabus</h2>
      </div>
    </div>
  </a>
</div>
<div class="grid-item">
  <a href="{{ schedule.url | relative_url }}">
    <div class="card hoverable">
      <div class="card-body">
        <h2 class="card-title">Schedule</h2>
      </div>
    </div>
  </a>
</div>
</div>


      </div>
  </header>


  <article>
    {{ content }}
  </article>

</div>
</div>
