---
layout: default
---

<div class="grid">
{% assign syllabus = site.teaching | where: "title", page.title %}
{% assign schedule = site.teaching | where: "title", page.title %}

{% for item in syllabus %}
<p> {{ item.title }} </p>
<p> {{ item.url }} </p>
{% endfor %}

<!-- <div class="grid-item">
  <a href="{{ syllabus.url | relative_url }}">
    <div class="card hoverable">
      <div class="card-body">
        <h2 class="card-title">Syllabus</h2>
      </div>
    </div>
  </a>
</div>
<div class="grid-item">
  <a href="{{ schedule.url | relative_url }}">
    <div class="card hoverable">
      <div class="card-body">
        <h2 class="card-title">Schedule</h2>
      </div>
    </div>
  </a>
</div>
</div>
-->

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>

</div>
