<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/test.css">
</head>
<body>
<div class="blankrect">&nbsp;</div>
	
<nav class="navbar">
<div>
    <ul class="nav absolute">
      <li><a class="page-scroll" href="#About">About</a></li>
      <li><a class="page-scroll" href="#Contact">Contact</a></li>
      <li><a class="page-scroll" href="#Beers">Beers</a></li>
    </ul>
</div>
<div id="indicator" class="slider">&nbsp;</div>
</nav>

{{ content }}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/js/javascript.js"></script>
</body>
</html>
