<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/test.css">
		</head>
		<body>

<nav id="mainNav" class="navbar-fixed">
        <div>
          <ul class="nav">
            <li>
              <a class="page-scroll" href="#About">About</a>
            </li>
            <li>
              <a class="page-scroll" href="#Investors">Investors</a>
            </li>
          </ul>
      
      <!-- /.container-fluid -->
    </nav>
	<div class="container">
			
			{{ content }}
			
	</div><!-- /.container -->
	
	<script src="js/javascript.js"></script>
</body>
</html>
