<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll" href="#test1">Test1</a>
            </li>
            <li>
              <a class="page-scroll" href="#test2">Test2</a>
            </li>
          </ul>
      
      <!-- /.container-fluid -->
    </nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:arquinn@umich.edu">email</a></li>
	        		<li><a href="https://github.com/arquinn">github.com/arquinn</a></li>
				</ul>
			</footer>
		</body>
	</html>
